@tailwind base;
@tailwind components;
@tailwind utilities;

/* FAQ section */
.transition-faq {
  transition-property: opacity, transform; /* Specify which properties to animate */
  transition-duration: 0.5s; /* Set the duration of the transition */
  opacity: 0; /* Initially hide the element */
  transform: translateX(100%); /* Initially move the element off-screen */
  height: 0;
}

.transition-faq.transition-faq-active {
  opacity: 1; /* Show the element when it has the 'block' class */
  transform: translateX(0); /* Move the element back to its original position */
  height: auto;
}
